/* Google fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* config style std */

$font: "Poppins", sans-serif;
/* font sizes */
$fs-header: 22px;
$fs-normal: 16px;
$fs-small: 12px;

/* font weight */
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

/* colores */
$primary-color: #764af1;
$primary-hover-color: #7900ff;
$secondary-color: #87a2fb;
$white-color: #ffffff;
$dark-color: #0f0e0e;
$gray-color: #777777;
$gray-light-color: #d1d1d1;
$error-color: #ff5959;
$success-color: #5bb318;


/* container */

.container {
    position: relative;
    max-width: 368px;
    width: 100%;
    padding: 24px;
    border-radius: 3px;
    background-color: var($white-color);

    form {
        margin-top: 1.875rem;

        .form-field {
            margin-bottom: 20px;

            .error {
                align-items: center;
                margin-top: 8px;
                color: var($error-color);
                font-size: var($fs-small);
                display: none;

                .error-icon {
                    margin-right: 5px;
                    font-style: var($fs-header);
                }
            }
        }

        .input-field {
            position: relative;
            height: 44px;
            width: 100%;

            input {
                height: 100%;
                width: 100%;
                outline: none;
                border: none;
                border: 1px solid var($gray-light-color);
                border-radius: 3px;
                padding: 0 15px;
    
                &:focus {
                    border-color: var($primary-hover-color); 
                }
            }

            .show-hide-pwd {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 18px;
                color: var($gray-color);
                cursor: pointer;
                padding: 5px;
            }
        }
    } 

    .invalid {
        input {
            border-color: var($error-color);
        }
    }
}
